* {
    
    
}
body {
    background-color: #F6F6F6;
    
    
    
}
header {
    display:flex;
    align-items: center;
    background-color:#D4BD8C ;
    width: 100%;
    height: 10vh;
    justify-content: space-around;
}
.logo{
    width: 200px;
    height: 200px;
    margin-left: 15px;
    
    
}

.menu {
    display: flex;
    font-size: 30px;
    gap:3cm;
    
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

section.banner {
    background-image: url('../imagens-fundo/bg-atendendo.jpg');
    height: 89vh;
    background-repeat: no-repeat;
    background-size: cover;
    

}

